.addProduct {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
    .inp {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        label {
            font-size: 14px;
            color: var(--white-color);
        }
        input[type="text"] {
            outline: none;
            border: 1px solid var(--grey-color);
            padding: 6px;
        }
    }
    .tiny {
        margin: 2rem 0;
        label {
            color: var(--white-color);
        }
    }
    .addProduct {
        width: 50%;
    }
    h3 {
        color: var(--red-color);
    }
}
